{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>{{ app.translator.trans("words.hello") }}, {{ username|escape }}!</h1>
		<p>
			{{ app.translator.trans("message.greeting") }}
		</p>
		<form method="GET" action="/">
			<input type="text" name="username" value="" placeholder="{{ app.translator.trans("message.whatsyourname") }}">
			<input type="submit" class="btn btn-primary" value="{{ app.translator.trans("button.go") }} >>">
		</form>
	</div>
</div>

<div class="container">
	<h2>REST API Demo</h2>
	{{ app.translator.trans("message.rest.generalDescription") }}
	<hr>
	
	<h3>GET /rest/api/1/messages</h3>
	<p>
		{{ app.translator.trans("message.rest.indexDescription") }}
	</p>
	<div id="messages">
	</div>
	<button class="btn btn-primary" id="index">{{ app.translator.trans("button.fetchMessages") }}</button>
	<hr>
	
	<h3>GET /rest/api/1/messages/{id}</h3>
	<p>
		{{ app.translator.trans("message.rest.getDescription") }}
	</p>
	<div id="message">
	</div>
	{{ app.translator.trans("words.id") }}: <input type="number" value="1" id="get-id">
	<button class="btn btn-primary" id="get">{{ app.translator.trans("button.fetchMessage") }}</button>
	<hr>
	
	<h3>POST /rest/api/1/messages</h3>
	<p>
		{{ app.translator.trans("message.rest.postDescription") }}
	</p>
	<div class="alert alert-success" role="alert" id="created-alert" style="display: none;">
		<strong>{{ app.translator.trans("words.wellDone") }}!</strong> {{ app.translator.trans("message.messageCreated") }}
	</div>
	
	{{ app.translator.trans("words.text") }}: <input type="text" value="" id="create-msg">
	<button class="btn btn-primary" id="create">{{ app.translator.trans("button.createMessage") }}</button>
	<hr>
	
	<h3>PUT /rest/api/1/messages/{id}</h3>
	<p>
		{{ app.translator.trans("message.rest.putDescription") }}
	</p>
	<div class="alert alert-success" role="alert" id="updated-alert" style="display: none;">
		<strong>{{ app.translator.trans("words.wellDone") }}!</strong> {{ app.translator.trans("message.messageUpdated") }}
	</div>
	
	{{ app.translator.trans("words.id") }}: <input type="number" value="1" id="update-id">
	{{ app.translator.trans("words.text") }}: <input type="text" value="" id="update-msg">
	<button class="btn btn-primary" id="update">{{ app.translator.trans("button.updateMessage") }}</button>
	<hr>
	<footer>
		<p>© 2015 Company, Inc.</p>
	</footer>
</div>
<!-- /container -->
{% endblock %}